# Ignore logs and results directories
logs/
results/
img/
.pytest_cache/
__pycache__/
.vscode/
notebooks/3d_html_all/
viz/3d_xcorr/D0007_Response_Repeat.html
viz/3d_xcorr/D0023_Response_Repeat.html
viz/3d_xcorr/D0028_Response_Repeat.html
viz/3d_xcorr/D0032_Response_Repeat.html
viz/3d_xcorr/D0035_Response_Repeat.html
viz/3d_xcorr/D0040_Response_Repeat.html
viz/3d_xcorr/D0045_Response_Repeat.html
viz/3d_xcorr/D0047_Response_Repeat.html
viz/3d_xcorr/D0049_Response_Repeat.html
viz/3d_xcorr/D0052_Response_Repeat.html
viz/3d_xcorr/D0057_Response_Repeat.html
viz/3d_xcorr/D0061_Response_Repeat.html
viz/3d_xcorr/D0063_Response_Repeat.html
viz/3d_xcorr/D0064_Response_Repeat.html
viz/3d_xcorr/D0067_Response_Repeat.html
viz/3d_xcorr/D0068_Response_Repeat.html
viz/3d_xcorr/D0071_Response_Repeat.html
viz/3d_xcorr/D0075_Response_Repeat.html
viz/3d_xcorr/D0076_Response_Repeat.html
viz/3d_xcorr/D0079_Response_Repeat.html
viz/3d_xcorr/D0080_Response_Repeat.html
viz/3d_xcorr/D0081_Response_Repeat.html
viz/3d_xcorr/D0084_Response_Repeat.html
viz/3d_xcorr/D0085_Response_Repeat.html
viz/3d_xcorr/D0086_Response_Repeat.html
viz/3d_xcorr/D0090_Response_Repeat.html
viz/3d_xcorr/D0092_Response_Repeat.html
viz/3d_xcorr/D0093_Response_Repeat.html
viz/3d_xcorr/D0094_Response_Repeat.html
viz/3d_xcorr/D0095_Response_Repeat.html
viz/3d_xcorr/D0096_Response_Repeat.html
viz/3d_xcorr/D0101_Response_Repeat.html
viz/3d_xcorr/D0102_Response_Repeat.html
viz/3d_xcorr/D0103_Response_Repeat.html
viz/3d_xcorr/D0105_Response_Repeat.html
viz/3d_xcorr/D0106_Response_Repeat.html
viz/3d_xcorr/D0115_Response_Repeat.html
viz/3d_xcorr/D0121_Response_Repeat.html
viz/3d_xcorr/D0122_Response_Repeat.html
viz/3d_xcorr/D0125_Response_Repeat.html
